.date-group {
  margin: 20px;
  padding: 20px;
}

.date-group h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.date-group h3 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.date-group-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  align-items: center;
  
}
.match {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;

}

.match-results {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.match-status-ongoing {
  color: green;
}
