.date-group {
  margin: 20px;
  padding: 20px;
}

.date-group h2 {
  font-size: 20px;
  color: #1a313c;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.date-group h3 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.date-group-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

@media (max-width: 1024px) {
  .date-group-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .date-group-item {
    grid-template-columns: 1fr;
  }
}

.match-link {
  text-decoration: none;
  color: inherit;
}

.match {
  padding: 20px;
  border: 1px solid #ccc;
  border-color: #dbdfe0;
  border-radius: 10px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
}

.match:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.group-name {
  color: #637a85;
  font-size: 14px;
}

.match-title p {
  font-size: 18px;
}

.match-results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1a313c;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 12px;
}

.match-results img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.match-status-done,
.match-stadium {
  font-size: 18px;
}

.match-status-done span {
  color: green;
}

.match-status-scheduled {
  font-size: 18px;
}

.match-status-scheduled span {
  color: orange;
}
