.app-header {
  background-color: #1a313c;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.app-title {
  color: #ffffff;
  font-size: 2em;
  font-family: "Oswald", sans-serif;
}

/* Media query for tablets (768px and up) */
@media (max-width: 1024px) {
  .app-title {
    font-size: 1.5em; 
  }
}

/* Media query for phones (up to 768px) */
@media (max-width: 768px) {
  .app-title {
    font-size: 1.2em;
  }

  .app-header {
    padding: 10px;
  }
}
