.app-header {
  background-color: #1a313c;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.app-title {
  color: #ffffff;
  font-size: 2em;
  font-family: "Oswald", sans-serif;
}
